extends layout

block content
  title= "Members Only"
  div.hero
    h1 Add any message you want!
    div.hero-links
      a(href="/sign-up") Sign up 
      a(href="/login") Log in
  p Sign up today! Don't miss out on the fun!
