extends layout

block content
  title= "Members Only"
  nav
    div.nav-content
      h2= "Members Only"
      div.links
        a(href="/post-message") Post
        a(href="/sign-up") Sign up 
        a(href="/login") Log in

