doctype html
html
  head
    title= "Members Only"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/sign-up.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/messages.css')
  body
  nav
    div.nav-content
      a.header(href='/') Members Only
      div.links
        ul
          if (!locals.currentUser)
            li
              a(href="/sign-up") Sign up
            li.login-logout
              a(href="/login") Log in
          else
            li
              a(href="/message-form") Post message
            li 
              a(href="/admin-form") Become Admin
            li.login-logout
              a(href="/logout") Log out
  block content
    
