doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/sign-up.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/messages.css')
    link(rel="icon" href="../public/images/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
  nav
    div.nav-content
      a.header(href='/') Members Only
        i.fas.fa-user-lock
      div.links
        ul
          if (!locals.currentUser)
            li
              a(href="/sign-up") Sign up
                i.fas.fa-user-plus
            li.login-btn
              a(href="/login") Log in 
                i.fas.fa-sign-in-alt
          else
            li
              a(href="/message-form") Post message
                i.fas.fa-pen
            li 
              a(href="/admin-form") Become Admin
                i.fas.fa-users-cog
            li.logout-btn
              a(href="/logout") Log out
                i.fas.fa-sign-in-alt
    script(src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-a11y="true")
  block content
    
