.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 1rem;
}

.content-wrapper h1 {
  color: var(--red);
  padding: 1rem 0 2rem 0;
}

.message {
  width: 70%;
  background-color: var(--black);
  border-radius: 14px;
  padding: 2rem;
  margin: 1rem 0;
  transition: all 0.4s;
  color: white;
}

.message:hover {
  transform: scale(1.02);
}

.admin-crown,
.admin-post {
  display: flex;
  align-items: center;
}

.admin-crown .fa-crown {
  color: gold;
  font-size: 2rem;
  margin: 0 0 1.5rem 0.5rem;
}

.admin-post .fa-crown {
  color: gold;
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

/* .poster {
  border: 1px solid var(--red);
  width: 10%;
  border-radius: 25px;
  padding-left: 0.8rem;
} */

.date {
  display: flex;
}

.date .fa-clock {
  margin-right: 0.3rem;
}
