:root {
  --blue: #00b7ff;
  --darker-blue: #0299d4;
}

nav {
  background: white;
  padding: 1.5rem;
}

.nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--blue);
  transition: all 0.2s;
}

.header:hover {
  color: var(--darker-blue);
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  padding: 0 1rem;
}

li a {
  text-decoration: none;
  color: black;
  padding: 6px 10px;
  transition: all 0.3s;
  border-radius: 4px;
  background-color: white;
}

li a:hover {
  background-color: rgb(207, 207, 207);
}

.login-logout a {
  background-color: var(--blue);
  color: white;
  transition: all 0.3s;
}

.login-logout a:hover {
  background-color: var(--darker-blue);
}
