:root {
  --red: #e5383b;
  --darker-red: #ce171a;
  --white: #f5f5f5;
  --darker-white: #d4d4d4;
  --blue: #4f83b6;
  --black: #121212;
}

nav {
  background: #121212;
  padding: 1.5rem;
}

.nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--red);
  transition: all 0.2s;
}

.header:hover {
  color: var(--darker-red);
}

.fa-user-lock {
  margin-left: 0.5rem;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  padding: 0 1rem;
}

li a {
  text-decoration: none;
  color: black;
  padding: 6px 10px;
  transition: all 0.3s;
  border-radius: 4px;
  background-color: var(--white);
}

li a:hover {
  background-color: var(--darker-white);
}

.login-btn a,
.logout-btn a {
  text-decoration: none;
  background-color: var(--red);
  color: white;
  transition: all 0.3s;
}

.login-btn a:hover,
.logout-btn a:hover {
  background-color: var(--darker-red);
}

.logout-btn .fa-sign-in-alt {
  margin-left: 0.3rem;
}

.fa-pen,
.fa-users-cog,
.fa-user-plus {
  margin-left: 0.3rem;
}
