/* login-fail */
.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message p {
  margin-top: 1rem;
}

.error-message .fa-exclamation-triangle {
  margin-right: 0.5rem;
}
