.wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 5rem;
}

.center-content {
  background-color: var(--black);
  color: white;
  border-radius: 8px;
  padding: 2rem;
}

.center-content h1 {
  color: var(--red);
}

.submit-button {
  background-color: var(--red);
  color: white;
  margin: 10px 0;
  padding: 6px 14px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s;
}

.submit-button:hover {
  background-color: var(--darker-red);
}
