body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #383535;
}

a {
  color: #00b7ff;
}

/* index.pug */
nav {
}

.nav-content {
}

.links {
}

/* sign-up.pug */
.center-content {
  background-color: #1e2d31;
  border-radius: 8px;
  padding: 1rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
}

.sign-up-button {
  background-color: #00b7ff;
  margin: 10px 0;
  padding: 6px 14px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s;
}

.sign-up-button:hover {
  background-color: #00b7ffc5;
}

/* login.pug */
